{% extends "base.html" %}
{% block title %}电子发票登记记录{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>发票登记情况</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>提交日期</th>
            <th>发票号码</th>
            <th>发票代码</th>
            <th>金额（元）</th>
            <th>开票日期</th>
            <th>附单合计金额（元）</th>
            <th>文件</th>
        <tr>
    </thead>
    <tbody>
        {% for invoice in invoices %}
        <tr>
            <td>{{ invoice.upload_date }}</td>
            <td>{{ invoice.number }}</td>
            <td>{{ invoice.code }}</td>
            <td>{{ invoice.cost|round(2,'common') }}</td>
            <td>{{ invoice.date}}</td>
            <td>{{ invoice.attached_cost|round(2,'common') }}</td>
            {% if invoice.filename != '#'%}
            <td><a href="{{url_for('static',filename='files/'+current_user.id|string+'/'+invoice.filename)}}" target="_blank">{{ invoice.filename }}</a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}